/* Basic */
/* Common */
/* Header variables */
/* Content variables*/
/* Footer variables */
.dropdown-menu__item, .dropdown-menu__item-reference {
  padding: 0 15px;
  height: 70px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 210px;
  cursor: pointer; }

.dropdown-menu__item-reference, .dropdown-menu__item-reference:visited, .dropdown-menu__item-reference:active, .dropdown-menu__item-reference:focus, .dropdown-menu__item-reference:hover {
  text-decoration: none;
  color: #6D6D6D; }

.header {
  height: 70px;
  background-color: #FAFAF9;
  flex: 0 0 auto; }
  .header__container {
    max-width: 1030px;
    margin: 0 auto;
    display: flex; }
    @media only screen and (min-width: 481px) {
      .header__container {
        justify-content: space-between; } }

.dropdown {
  display: flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  flex-flow: column nowrap; }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease; }
    .dropdown-menu__item {
      background-color: #ededec; }
      .dropdown-menu__item-logo {
        width: auto;
        height: 40px; }
      .dropdown-menu__item-text {
        height: 40px;
        font-family: "Open Sans Regular", sans-serif, arial;
        font-size: 17px;
        color: #6D6D6D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 150px; }
        .dropdown-menu__item-text-p {
          padding-left: 12px; }
        .dropdown-menu__item-text-high-index {
          font-size: 6px;
          margin-left: 1px;
          position: relative;
          bottom: 14px;
          top: auto; }
      .dropdown-menu__item-arrow {
        display: flex;
        flex-flow: row nowrap;
        flex-shrink: 4;
        justify-content: flex-end;
        min-width: 18px; }
        .dropdown-menu__item-arrow-img {
          transition-timing-function: linear;
          transition: 0.3s; }
      .dropdown-menu__item-reference {
        background-color: #FAFAF9;
        flex-shrink: 0; }
        .dropdown-menu__item-reference:hover {
          background-color: #ededec; }
  .dropdown--open .dropdown-menu {
    display: flex;
    height: 210px; }
    .dropdown--open .dropdown-menu__item-arrow-img {
      transform: rotate(180deg);
      transition-timing-function: linear;
      transition: 0.3s; }

@media only screen and (max-width: 480px) {
  .header__container {
    justify-content: space-around; }

  .dropdown {
    flex-grow: 1; }
    .dropdown-menu {
      width: 100%; }
      .dropdown-menu__item {
        flex-grow: 1; }
        .dropdown-menu__item-text {
          flex-grow: 1; } }
.privacy__container-policy-titular-text, .privacy__container-policy-text {
  text-align: left;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  padding: 9px 0;
  margin: 0px;
  font-weight: 100; }

.content {
  font-family: "Open Sans Regular", sans-serif, arial;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .content__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px; }
    .content__container-title {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-weight: 100; }
      .content__container-title-text {
        font-size: 45px;
        color: #F5A623;
        text-align: center;
        font-weight: 100;
        margin: 0px;
        font-weight: 300; }
        @media only screen and (min-width: 553px) {
          .content__container-title-text {
            padding: 0 0 0 9px;
            letter-spacing: 1.6px; } }
        @media only screen and (max-width: 552px) {
          .content__container-title-text {
            padding: 0px;
            letter-spacing: 0px; } }
        .content__container-title-text:nth-child(2) {
          font-family: "Open Sans Light", sans-serif, arial;
          letter-spacing: 0.5px; }
        .content__container-title-text-high-index {
          font-size: 9px;
          position: relative;
          bottom: 30px;
          top: auto;
          left: -1px;
          z-index: -1; }
          @media only screen and (max-width: 344px) {
            .content__container-title-text-high-index {
              left: 0px; } }
    .content__container-text {
      font-size: 18px;
      color: #6D6D6D;
      max-width: 400px;
      font-weight: 100;
      margin: 35px 10px;
      text-align: center;
      letter-spacing: 0.18px; }
      @media only screen and (min-height: 361px) {
        .content__container-text {
          line-height: 34px; } }
      @media only screen and (max-height: 360px) {
        .content__container-text {
          line-height: 28px; } }

.privacy {
  flex: 1 0 auto;
  align-self: center;
  max-width: 1060px; }
  .privacy__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: flex-start;
    padding: 20px 30px; }
    .privacy__container-policy-titular-text {
      font-family: "Open Sans Regular", sans-serif, arial;
      font-size: 21px;
      color: #6D6D6D;
      letter-spacing: 0px; }
    .privacy__container-policy-text {
      font-family: "Open Sans Light", sans-serif, arial;
      font-size: 14px;
      color: #989797;
      letter-spacing: 0px;
      line-height: 20px; }

.footer__container-text, .footer__container-text a:link, .footer__container-text a:visited, .footer__container-text a:active, .footer__container-text a:focus, .footer__container-text a:hover, .footer__container-divider {
  text-decoration: none;
  font-family: "Open Sans Regular", sans-serif, arial;
  font-size: 14px;
  color: #6D6D6D; }

.footer {
  padding: 15px 0 15px 0;
  flex: 0 0 auto; }
  .footer__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    padding: 0 15px; }
    .footer__container-text {
      margin: 0;
      text-align: center; }
    .footer__container-divider {
      margin: 0 5px; }
    @media only screen and (max-width: 500px) {
      .footer__container-divider:nth-child(1) {
        visibility: hidden; } }
    .footer__container-second-string {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }

html {
  height: 100%; }

.body {
  margin: 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 100; }

h1 {
  padding: 0px; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*# sourceMappingURL=template.css.map */
