%policy-text {
  text-align: left;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  padding: 9px 0;
  margin: 0px;
  font-weight: $primary-font-weight;
}

//Text on the contact.center's main page
.content {
    font-family: $content-text-font-type;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

  &__container {
    display:flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px;

      &-title {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        font-weight: $primary-font-weight;

        &-text {
          font-size: $content-title-font-size;
          color: $content-title-font-color;
          text-align: center;
          font-weight: $primary-font-weight;
          margin:0px;
          font-weight: 300;

          @media only screen and (min-width: 553px) {
            padding: 0 0 0 9px;
            letter-spacing: 1.6px;
          }

          @media only screen and (max-width: 552px) {
            padding: 0px;
            letter-spacing: 0px;
          }

          &:nth-child(2) {
            font-family: $content-title-secondary-font-type;
            letter-spacing: 0.5px;
          }

          &-high-index {
            font-size: $content-title-sup-font-size;
            position: relative;
            bottom: 30px;
            top: auto;
            left: -1px;
            z-index: -1;

            @media only screen and (max-width: 344px) {
              left: 0px;
            }
          }
        }
      }

      &-text {
        font-size: $content-text-font-size;
        color: $content-text-font-color;
        max-width: 400px;
        font-weight: $primary-font-weight;
        margin: 35px 10px;
        text-align: center;
        letter-spacing: 0.18px;

        @media only screen and (min-height: 361px) {
          line-height: 34px;
        }

        @media only screen and (max-height: 360px) {
          line-height: 28px;
        }
      }
  }
}

//Text on the contact.center's privacy policy page
.privacy {
  flex: 1 0 auto;
  align-self: center;
  max-width: 1060px;

  &__container {
    display:flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: flex-start;


    padding: 20px 30px;

    &-policy-titular-text {
      @extend %policy-text;
      font-family: $privacy-titular-font-type;
      font-size: $privacy-titular-font-size;
      color: $privacy-titular-font-color;
      letter-spacing: 0px;
    }

    &-policy-text {
      @extend %policy-text;
      font-family: $privacy-font-type;
      font-size: $privacy-font-size;
      color: $privacy-font-color;
      letter-spacing: 0px;
      line-height: 20px;  
    }
  }
}
