%footer-text {
  text-decoration: none;
  font-family: $footer-font;
  font-size: $footer-font-size;
  color: $footer-font-color;
}

.footer {
  padding: 15px 0 15px 0;
  flex: 0 0 auto;

  &__container {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    padding: 0 15px;

    &-text {
      @extend %footer-text;
      margin: 0;
      text-align: center;

      & a:link,
      & a:visited,
      & a:active,
      & a:focus,
      & a:hover {
        @extend %footer-text
      }
    }

    &-divider {
      @extend %footer-text;
      margin: 0 5px;
    }

    &-divider:nth-child(1) {
      @media only screen and (max-width: 500px) {
        visibility: hidden;
      }
    }

    &-second-string {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}
