html {
  height:100%
};

.body {
  margin: 0px;
  background-color: $body-background-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: $primary-font-weight;
}

h1 {
  padding:0px;
}
