/* Basic */

$primary-regular-font-type: "Open Sans Regular", sans-serif, arial;
$primary-light-font-type: "Open Sans Light", sans-serif, arial;
$primary-semibold-font-type: "Open Sans SemiBold", sans-serif, arial;
$primary-font-weight: 100;
$primary-font-color: #6D6D6D;
$secondary-font-color: #989797;
$color-white: #fff;
$accent-color: #F5A623;


/* Common */
$body-background-color: $color-white;

/* Header variables */
$header-font: $primary-regular-font-type;
$header-font-size: 17px;
$header-font-color: $primary-font-color;
$header-bg-color: #FAFAF9;
$dropdown-item-bg-color: #FAFAF9;
$dropdown-item-bg-hover-color: #ededec;
$dropdown-toggle-button-bg-color: #ededec;

/* Content variables*/
$content-title-font-size: 45px;
$content-title-sup-font-size: 9px;
$content-title-font-color: $accent-color;
$content-title-secondary-font-type: $primary-light-font-type;
$content-text-font-type: $primary-regular-font-type;
$content-text-font-size: 18px;
$content-text-font-color: $primary-font-color;
$privacy-titular-font-type: $primary-regular-font-type;
$privacy-titular-font-size: 21px;
$privacy-titular-font-color: $primary-font-color;
$privacy-font-type: $primary-light-font-type;
$privacy-font-size: 14px;
$privacy-font-color: $secondary-font-color;

/* Footer variables */
$footer-font: $primary-regular-font-type;
$footer-font-size: 14px;
$footer-font-color: $primary-font-color;
